<app-heading></app-heading>
<div>
    <div class="blogs">
        <div class="container">
            <div class="profile_blog">
                <div style="display:flex;">
                    <div class="project_title">User Interface Design</div>
                </div>
                <div class="pro_display">
                    <div class="project_info"><a href="/assets/1A.pdf" routerLink="/assignment1a" routerLinkActive="active"
                        style="text-decoration: none;color: #283655">Assignment 1A</a></div>
                </div>
                <div class="pro_display" style="background: white;">
                    <div class="project_info"><a routerLink="/discussion" routerLinkActive="active"
                        style="text-decoration: none;color: #283655">Discussion</a></div>
                </div>
                <div class="pro_display" style="background: white;">
                    <div class="project_info">2 Days left</div>
                </div>
                <div style="margin-left: 190px;margin-top: 40px; align-content: center;"><button type="submit" value="view all"
                    class="viewall">UPLOAD</button></div>
            </div>
        </div>

        <div class="container">
            <div class="profile_blog">
                <div style="display:flex;">
                    <div class="project_title">Software Testing</div>
                </div>
                <div class="pro_display">
                    <div class="project_info">Homework 1</div>
                </div>
                <div class="pro_display" style="background: white;">
                    <div class="project_info"><a routerLink="/discussion" routerLinkActive="active"
                        style="text-decoration: none;color: #283655">Discussion</a></div>
                </div>
                <div class="pro_display" style="background: white;">
                    <div class="project_info">6 Days left</div>
                </div>
                <div style="margin-left: 190px;margin-top: 40px; align-content: center;"><button type="submit" value="view all"
                    class="viewall">UPLOAD</button></div>
            </div>
        </div>
    
    </div>

    <div class="blogs">
        <div class="container">
            <div class="profile_blog">
                <div style="display:flex;">
                    <div class="project_title">User Interface Design</div>
                </div>
                <div class="pro_display">
                    <div class="project_info">Assignment 2A</div>
                </div>
                <div class="pro_display" style="background: white;">
                    <div class="project_info"><a routerLink="/discussion" routerLinkActive="active"
                        style="text-decoration: none;color: #283655">Discussion</a></div>
                </div>
                <div class="pro_display" style="background: white;">
                    <div class="project_info">12 Days left</div>
                </div>
                <div style="margin-left: 190px;margin-top: 40px; align-content: center;"><button type="submit" value="view all"
                    class="viewall">UPLOAD</button></div>
            </div>
        </div>

        <div class="container">
            <div class="profile_blog">
                <div style="display:flex;">
                    <div class="project_title">Database System</div>
                </div>
                <div class="pro_display">
                    <div class="project_info">Project</div>
                </div>
                <div class="pro_display" style="background: white;">
                    <div class="project_info"><a routerLink="/discussion" routerLinkActive="active"
                        style="text-decoration: none;color: #283655">Discussion</a></div>
                </div>
                <div class="pro_display" style="background: white;">
                    <div class="project_info">16 Days left</div>
                </div>
                <div style="margin-left: 190px;margin-top: 40px; align-content: center;"><button type="submit" value="view all"
                    class="viewall">UPLOAD</button></div>
            </div>
        </div>
    
    </div>

</div>
<router-outlet></router-outlet>