<!-- AUTHOR: Srivedaa Chinthalapani
     This is the student detail html page
-->


<div>
    welcome to student details
    <table border="1">
        <tr>
            <th>StudentId</th>
            <th>StudentName</th>
            <th>StudentAddress</th>
        <th>StudentCity</th>
        <th>StudentState</th>
        <th>StudentZip</th>
        <th>StudentTel</th>
        <th>StudentEmail</th>
        <th>StudentDate</th>
        <th>StudentUrl</th>
        <th>StudentGradmonth</th>
        <th>StudentGradyear</th>
        <th>StudentAwareness</th>
        <th>StudentLikeliness</th>
            <th>StudentData</th>
        </tr>

        <tr>
            <td>{{studentDetails.stdid}}</td>
            <td>{{studentDetails.stdname}}</td>
            <td>{{studentDetails.stdadd}}</td>
            <td>{{studentDetails.stdcity}}</td>
            <td>{{studentDetails.stdstate}}</td>
            <td>{{studentDetails.stdzip}}</td>
            <td>{{studentDetails.stdtel}}</td>
            <td>{{studentDetails.stdemail}}</td>
            <td>{{studentDetails.stddate}}</td>
            <td>{{studentDetails.stdurl}}</td>
            <td>{{studentDetails.stdmonth}}</td>
            <td>{{studentDetails.stdyear}}</td>
            <td>{{studentDetails.stdradio}}</td>
            <td>{{studentDetails.stdlike}}</td>
            <td>{{studentDetails.stddata}}</td>
        </tr>
    </table>
</div>
