<app-heading></app-heading>
<div>
    <div class="blogs">
        <div class="container">
            <div class="profile_blog">
                <div style="display:flex;">
                    <div class="project_title">Projects</div>
                    <div style="margin-left: 250px;margin-top: 15px;"><button type="submit" value="view all"
                            class="viewall">VIEW ALL</button></div>
                </div>
                <div class="pro_display">
                    <div class="fa fa-circle-o circle1"></div>
                    <div class="project_info">User design Interface project</div>
                </div>
                <div class="pro_display" style="background: white;">
                    <div class="fa fa-circle-o circle1" style="color:#FFC107;"></div>
                    <div class="project_info">The history of Europe</div>
                </div>
                <div class="pro_display" style="background: white;">
                    <div class="fa fa-circle-o circle1" style="color: violet;"></div>
                    <div class="project_info">How to conquer the dive need for life</div>
                </div>
                <div class="pro_display" style="background: white;">
                    <div class="fa fa-circle-o circle1" style="color: cadetblue;"></div>
                    <div class="project_info">Main elements of visual language</div>
                </div>
                <div class="pro_display" style="height:29px;">
                    <div class="blocks">
                        <div style="display:flex;">
                            <div class="fa fa-square block1" style="color: #FFC107;"></div>
                            <div class="menu_text block_subject">CS</div>
                        </div>
                        <div style="display:flex;">
                            <div class="fa fa-square block1" style="color: #ff8300;"></div>
                            <div class="menu_text block_subject">SWE</div>
                        </div>
                        <div style="display:flex;">
                            <div class="fa fa-square block1" style="color: violet;"></div>
                            <div class="menu_text block_subject">INFS</div>
                        </div>
                        <div style="display:flex;">
                            <div class="fa fa-square block1" style="color: cadetblue;"></div>
                            <div class="menu_text block_subject">DA</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="profile_blog">
                <div class="project_title">Events</div>
                <div class="event_profile">
                    <img src="../assets/grad_icon.jpg" width="30px" height="30px">
                    <div class="project_info" style="font-size: 14px;width: 220px;">Graduation Ceremony<div
                            style="font-size: 11px;margin-top: 3px;">100 students are going</div>
                    </div>
                    <div class="status">ATTENDING</div>
                </div>
                <div class="event_profile" style="margin-top: 23px;">
                    <img src="../assets/cs_icon.jpg" width="30px" height="30px">
                    <div class="project_info" style="font-size: 14px;width: 220px;">Machine Learning in System Health
                        Monitoring<div style="font-size: 11px;margin-top: 3px;">67 students are going</div>
                    </div>
                    <div class="status" style="background: mediumvioletred;">APPROVED</div>
                </div>
                <div class="event_profile" style="margin-top: 23px;">
                    <img src="../assets/deep_learning.jpg" width="30px" height="30px">
                    <div class="project_info" style="font-size: 14px;width: 220px;">Deep Learning Based Time Series for
                        Forecasting
                        <div style="font-size: 11px;margin-top: 3px;">48 students are going</div>
                    </div>
                    <div class="status" style="background: mediumseagreen;">$10 ENTRY</div>
                </div>
                <div class="event_profile" style="margin-top: 23px;">
                    <img src="../assets/soccer.jpg" width="30px" height="30px">
                    <div class="project_info" style="font-size: 14px;width: 220px;">Mason Women's Soccer
                        <div style="font-size: 11px;margin-top: 3px;">176 students are going</div>
                    </div>
                    <div class="status" style="background: palevioletred;">TODAY</div>
                </div>
            </div>
        </div>
    </div>
    <div class="blogs">
        <div class="container">
            <div class="profile_blog">
                <div style="display:flex;">
                    <div class="project_title">Courses</div>
                    <div style="margin-left: 220px;margin-top: 12px;"><button type="submit" value="courses"
                            class="courses">BROWSE COURSES</button></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="profile_blog">Dashboard works!</div>
        </div>
    </div>
</div>